.app {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main {
  display: flex;
}

.canvas-container {
  flex-grow: 1;
}

button {
  margin: 5px;
}

input[type="range"] {
  width: 200px;
}

.sidebar {
  overflow-y: auto;
  flex: 0 0 300px;
  border-right: 1px solid #ccc;
}
.border-black {
  border: 1px solid black;
}
.slider-button {
  padding: 2px 8px;
  background-color: #e5e7eb;
  border-radius: 4px;
}